@tailwind base;
@tailwind components;
@tailwind utilities;


.vue-map {
    height: 500px;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Inter"), url(@/assets/fonts/Inter/Inter-Regular.woff) format("woff");
  }
